<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<dict>
		<key>ConnectSDKDeviceVerbose</key>
		<true/>
		<key>ConnectSDKDevice</key>
		<true/>
		<key>ConnectSDKDeviceManager</key>
		<true/>
		<key>ConnectSDKDeviceManagerVerbose</key>
		<true/>
		<key>SamsungDevice</key>
		<true/>
		<key>VirtualDeviceManager</key>
		<true/>
		<key>VirtualDevice</key>
		<true/>
		<key>DeviceManagerCoordinator</key>
		<true/>
		<key>TextInput</key>
		<false/>
		<key>TCPConnectionVerbose</key>
		<false/>
		<key>TCPConnection</key>
		<false/>
		<key>HAPManager</key>
		<false/>
		<key>RemoteViewModel</key>
		<true/>
		<key>RemoteViewModelVerbose</key>
		<true/>
		<key>AppleTVDevice</key>
		<true/>
		<key>AppleTVDeviceVerbose</key>
		<false/>
		<key>AppleTVDeviceManager</key>
		<false/>
		<key>CompanionVerbose</key>
		<false/>
		<key>OPACKVerbose</key>
		<false/>
		<key>CompanionSenderVerbose</key>
		<true/>
		<key>OPACK</key>
		<false/>
		<key>Companion</key>
		<false/>
		<key>NetworkController</key>
		<true/>
		<key>CompanionSender</key>
		<true/>
	</dict>
</dict>
</plist>
